<%- include('paritals/header'); -%> 
  <form class="ui form" method="POST" action="/register" onsubmit="formValidation(); return false">
    
    <div class="ui raised very padded text container segment">
    <h1>Cadastre-se</h1>
    <div class="column">

      <div class="ui inverted segment">
        <div class="ui inverted form">
          <div class="two fields">
            <div class="field">
              <label>Nome</label>
              <input placeholder="Nome" type="text" name="nome">
            </div>
            <div class="field">
              <label>Sobrenome</label>
              <input placeholder="Sobrenome" type="text" name="sobrenome">
            </div>
          </div>

          <div class="field">
            <label>E-mail</label>
            <input placeholder="E-mail" type="text" name="email">
          </div>

          <input class="ui submit button" type="submit" value="Cadastrar">
        </div>
      </div>
    </div>
  </form>
  </div>
  <div class="ui raised very padded text container segment">
  <% if (data) { %>
    <table class="ui celled table">
      <tbody>
        <thead>
          <tr><th>Cor</th>
          <th>Pais</th>
          <th>Animal</th>
        </tr></thead>
        <tbody>
          <tr>
            <td data-label="Cor"><%= data.cor %></td>
            <td data-label="Pais"><%= data.pais %></td>
            <td data-label="Animal"><%= data.animal %></td>
          </tr>
      </tbody>
    </table>
  <% } %>
  </div>
  <script>
    $(function(){});
  </script>
<%- include('paritals/footer'); -%>